body {
    background-color: black;
}

#container {
    width:500px;
    height: 600px;
	margin-left:auto;
	margin-right:auto;
    background: rgb(48, 54, 68);
    margin-top: 20px;
  
 
}

#title {
    background-color: red;
    height: 35px;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 3px;
    color: white;

 
}
#weight{
    background-color: blue;
    height: 35px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 3px;
    padding-left: 7px;
    color: white;
    white-space: pre-wrap;
    padding: 7px;
}

#height{
    background-color: green;
    height: 35px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 3px;
    padding-left: 7px;
    color: white;
    padding: 7px;
}

#form1 {
    background-color: pink;
    color:red;
    text-align: center;
    height: 20px;
    font-size: 20px; 
}

#form2 {
    background-color: pink;
    color:red;
    text-align: center;
    height: 20px;
    font-size: 20px; 
}

#confirm {
    background-color:violet;
    text-align: center;
    height: 35px;
    font-size: 20px; 
}

#btn1 {
    background-color: yellow;
    width: 250px;
    height: 35px;
    font-size: 20px; 
    font-weight: 700;
    cursor: pointer;
}

#results {
    background-color: teal;
    width: auto;
    height: 35px;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

#interpretation {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.9px;
    margin: 5px;
}