input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
@keyframes slide{
    from {
        opacity: 0;
        transform: translateX(100px);
        width: 0;
    }
    to {
        width: 450px;
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes inside{
    0%{
        opacity: 0;
    }
    90%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
html,body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  
}


.container {
    width:450px;
    height: 600px;
	/* margin-left:auto;
	margin-right:auto; */
    background: rgb(48, 54, 68);
   /*  margin-top: 20px; */
    border-radius: 30px;
    animation-name: slide;
    animation-duration: 3s;
    
 
}

.title {
   /*  background-color: red; */
    height: 35px;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 3px;
    color: white;
    animation-name: inside;
    animation-duration: 3s;
 
}
.value-weight,
.value-height   {
    
    /* background-color: green; */
    height: 35px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 3px;
    padding-left: 7px;
    color: white;
    /* white-space: pre-wrap; */
    padding: 7px;
    animation-name: inside;
    animation-duration: 3s;

    
}
.value-weight {
   /*  white-space: pre-wrap; */
    /* background-color: blue; */
}
/* #height{
    background-color: green;
    height: 35px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 3px;
    padding-left: 7px;
    color: white;
    padding: 7px;
} */

.value-height>input,
.value-weight>input {
    background-color: pink;
    color:red;
    text-align: center;
    height: 20px;
    font-size: 20px;
    float: right;
    animation-name: inside;
    animation-duration: 3s;
    
    
}

/* #form2 {
    background-color: pink;
    color:red;
    text-align: center;
    height: 20px;
    font-size: 20px; 
} */

#confirm {
   /*  background-color:violet; */
    text-align: center;
    height: 35px;
    font-size: 20px; 
}

#btn1 {
    background-color: yellow;
    width: 250px;
    height: 35px;
    font-size: 20px; 
    font-weight: 700;
    cursor: pointer;
    animation-name: inside;
    animation-duration: 3s;
}
#btn1:hover{
    opacity: .9;
}
#btn1:focus{
    background-color: blue;
}

#results {
    /* background-color: teal; */
    width: auto;
    height: 35px;
    font-weight: 500;
    font-size: 28px;
    text-align: center;

}

.interpretation {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.9px;
    margin: 5px;
    animation-name: inside;
    animation-duration: 3s;
}